
.card .card-content {
  padding: 0;
  max-height: 0;
  overflow: hidden;
  transition: all 0.2s ease-out;
}

.media-content .card-progress {
  color: #00d1b2;
}

.card pre {
    background-color: inherit;
    color: inherit;
    font-size: 0.95em;
    white-space: pre-wrap;
    font-family: inherit;
    word-wrap: inherit;
}

.panel-icon {
  margin: 5px;
}
