#modal-content {
  background: #eee;
  border-radius: 15px;
  padding: 20px;
}

@media screen and (min-width: 1000px) {
#playlist_title_container {
    margin: 0;
  }
}

.dashboard.section {
  background-color: #fefefe;
}

.modal-button:not(:first-child) {
  margin-left: 10px;
}

.modal-button {
  margin-top: 10px;
}
