#video-list {
  text-align: center;
}

#video-header, #video-footer {
  max-width: 640px;
  margin: auto
}

#video-container {
  margin: auto;
  max-width: 640px;
  max-height: 360px;
}

#video-footer .section {
  padding-top: 24px;
  padding-bottom: 20px;
}

#video-footer hr {
  max-width: 300px;
  margin: 1rem auto;
}

.panel {
  margin: auto;
  width: 100%;
}

.fa-circle {
  color: #ccc
}

.done {
  color: #05c305;
}
